/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.3.2018, 19:46:36
    Author     : OMISTAJA
*/

.nav_tausta, .dropdown-item:hover {
    background-color: #2f4f4f;
}

.nav-link, 
.dropdown-item  {
    color: #faebd7;
}

.nav-link:hover, 
.dropdown-item:hover {
    color: #ffd700;
  
}

.dropdown-menu {
    border: none;
}

.navbar-toggler {
    border-color: #faebd7; /*rgba(250, 235, 215, 1)*/
}

.navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,235,215, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}




